<div fxLayout="row">
  <div *ngIf="!dateOnly" [formGroup]="timeFormGroup">
    <mat-form-field>
      <input matInput [ngxTimepicker]="selectedTime" [format]="24" value="12:30" placeholder="{{placeholderTime}}"
        formControlName="selectedTime" />
    </mat-form-field>
    <ngx-material-timepicker #selectedTime [ngxMaterialTimepickerTheme]="customTheme" value="12:30" defaultTime="12:30" (timeSet)="timeChange($event)" [minutesGap]="5">
    </ngx-material-timepicker>
  </div>
  <div>
    <mat-form-field>
      <input id="pickerId" matInput [matDatepicker]="datepicker" placeholder="{{placeholderDate}}"
        [formControl]="dateForm" [min]="config.minDate" [max]="config.maxDate" (dateChange)="dateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker [disabled]="disabled" [opened]="autoOpen" [touchUi]="config.touchUi" [startAt]="config.startDate" startView="{{config.startView}}">
      </mat-datepicker>
    </mat-form-field>
  </div>
</div>