<div class="filter-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div *ngIf="canHideOlder" class="hide-checkbox">
    <mat-slide-toggle (change)="handleCheckboxToggle($event)">Alte Termine ausblenden</mat-slide-toggle>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </th>
    <td mat-cell *matCellDef="let element" attr.data-identifier="{{element.id}}" (click)="handleOnClick($event)"> {{element[column.id] || 'Keine Angabe'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]=8 showFirstLastButtons></mat-paginator>
