<div class="filter-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div *ngIf="canHideOlder" class="hide-checkbox">
    <mat-slide-toggle (change)="handleCheckboxToggle($event)">Alte Termine ausblenden</mat-slide-toggle>
  </div>
</div>

<div class="loading-spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<!-- 
  Angular (Material) Limitation: Paginator/sort is not instantiated until the component renders it on the DOM, which makes *ngIf not possible.
  We try to avoid [hidden] as much as possible, since the native "hidden" property implemented by most browsers (without !important postscript) gets overriden way too easily.
-->
<div class="table-container" [style.display]="isLoading ? 'none' : 'flex'">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </th>
      <td mat-cell *matCellDef="let element" attr.data-identifier="{{element.id}}" (click)="handleOnClick($event)">
        {{element[column.id] || 'Keine Angabe'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]=8 showFirstLastButtons></mat-paginator>
</div>