<div class="form-delete-patient">

  <div class="form-header">
    <span class="form-title">Daten Löschen</span>
    <br>
    <span>Möchten Sie alle Daten von {{ this.data.patientName }} löschen?</span>
    <br>
    <!-- <span class="form-patient-name">{{ this.data.patientName }}</span> -->
  </div>

  <button mat-raised-button (click)="handleOkButton()" color="{{ button.color }}">{{ button.text }}</button>

  <div *ngIf="!formError.hidden" class="form-error-content">
    <span class="form-error-text">Fehler: </span>
    <span class="form-error-patient">{{ formError.text }}</span>
  </div>

</div>