<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer *ngIf="loggedIn" class="sidenav" fixedInViewport="true"
      [attr.role]="(isSmallScreen$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
      [opened]="!(isSmallScreen$ | async)">
    <mat-toolbar>Test Praxis</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="toggleSidenav()" [routerLink]="['/']"><mat-icon class="sidenav-icon">home</mat-icon>Terminkalender</a>
      <a mat-list-item (click)="toggleSidenav()" [routerLink]="['/patient']"><mat-icon class="sidenav-icon">people</mat-icon>Patient/-in</a>
      <a mat-list-item (click)="toggleSidenav()" [routerLink]="['/appointment']"><mat-icon class="sidenav-icon">alarm</mat-icon>Termin</a>
      <a mat-list-item (click)="toggleSidenav()" [routerLink]="['/prescription']"><mat-icon class="sidenav-icon">receipt</mat-icon>Rezept</a>
      <a mat-list-item (click)="toggleSidenav()" [routerLink]="['/medicine']"><mat-icon class="sidenav-icon">local_pharmacy</mat-icon>Medikament</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="loggedIn" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggleSidenav()"
        *ngIf="isSmallScreen$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon style="font-size: 150%; margin-right: 10px !important; line-height: 23px;" class="bottom-sheet-icon" aria-label="Side nav toggle icon">local_hospital</mat-icon>
      <span>Termin App</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
        type="button"
        aria-label="User"
        (click)="handleUserButton()">
          <mat-icon>person</mat-icon>
          <span>User</span>
        </button>
        <button mat-menu-item
        [routerLink]="['/login']" 
        type="button"
        aria-label="Logout">
          <mat-icon>cancel</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <!-- Inner Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
