/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "Helvetica Neue", sans-serif; }

.list-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-calendar {
    width: 300px !important;
    height: 382px !important;
}

.cal-cell-row,.cal-day-cell {
    max-height: 80px !important;
}

.cal-day-cell {
    min-height: 80px !important;
}

.cal-month-view .cal-day-badge {
    margin-top: 4px;
    margin-left: -166px;
}

.cal-month-view .cal-events {
    margin-top: -50px;
}