<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="basicInfoForm">

    <form [formGroup]="basicInfoForm" class="form-new-patient">
      <ng-template matStepLabel>Basisinformationen</ng-template>

      <div class="new-patient-info-container">
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="Vorname">
          <mat-error *ngIf="f1.firstName.errors">{{""}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Name">
          <mat-error *ngIf="f1.lastName.errors">{{""}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="gender" placeholder="Geschlecht">
            <mat-option value="Männlich">Männlich</mat-option>
            <mat-option value="Weiblich">Weiblich</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 200px;">
            <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" placeholder="Geburtsdatum">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="E-mail Adresse">
          <mat-error *ngIf="f1.email.errors">{{""}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="insuranceNumber" placeholder="Versicherungsnummer">
          <mat-error *ngIf="f1.insuranceNumber.errors">{{""}}</mat-error>
        </mat-form-field>
      </div>

      <div class="stepper-button-container">
        <button class="stepper-button" mat-button matStepperNext>Weiter</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="addressForm">
    <form [formGroup]="addressForm" class="form-new-patient">
      <ng-template matStepLabel>Adress</ng-template>


      <div class="new-patient-info-container">
        <mat-form-field>
          <input matInput formControlName="phoneNumber" placeholder="Telefonnummer">
            <mat-error *ngIf="f2.phoneNumber.errors && f2.phoneNumber.errors.pattern">{{"Falsche Telefonnummer."}}</mat-error>
            <mat-error *ngIf="f2.phoneNumber.errors && f2.phoneNumber.errors.notUnique">{{"Die Telefonnummer ist bereits vorhanden."}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="state" placeholder="Bundesland">
            <mat-option value="Baden-Württemberg">Baden-Württemberg</mat-option>
            <mat-option value="Bayern">Bayern</mat-option>
            <mat-option value="Berlin">Berlin</mat-option>
            <mat-option value="Brandenburg">Brandenburg</mat-option>
            <mat-option value="Bremen">Bremen</mat-option>
            <mat-option value="Hamburg">Hamburg</mat-option>
            <mat-option value="Hessen">Hessen</mat-option>
            <mat-option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</mat-option>
            <mat-option value="Niedersachsen">Niedersachsen</mat-option>
            <mat-option value="Nordrhein-Westfalen">Nordrhein-Westfalen</mat-option>
            <mat-option value="Rheinland-Pfalz">Rheinland-Pfalz</mat-option>
            <mat-option value="Saarland">Saarland</mat-option>
            <mat-option value="Sachsen">Sachsen</mat-option>
            <mat-option value="Sachsen-Anhalt">Sachsen-Anhalt</mat-option>
            <mat-option value="Schleswig-Holstein">Schleswig-Holstein</mat-option>
            <mat-option value="Thüringen">Thüringen</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="city" placeholder="Stadt">
            <mat-error *ngIf="f2.city.errors">{{""}}</mat-error>
          </mat-form-field>
    
          <mat-form-field>
            <input matInput formControlName="street" placeholder="Straße">
            <mat-error *ngIf="f2.street.errors">{{""}}</mat-error>
          </mat-form-field>
    
          <mat-form-field>
            <input matInput formControlName="buildingNumber" placeholder="Nummer">
            <mat-error *ngIf="f2.buildingNumber.errors">{{""}}</mat-error>
          </mat-form-field>
    
          <mat-form-field>
            <input matInput formControlName="zip" placeholder="PLZ">
            <mat-error *ngIf="f2.zip.errors">{{""}}</mat-error>
          </mat-form-field>
      </div>

      <div class="stepper-button-container">
        <button class="stepper-button" mat-button matStepperPrevious>Zurück</button>
        <button class="stepper-button" mat-button matStepperNext (click)="createPatient()">Weiter</button>
      </div>

    </form>
  </mat-step>

  <mat-step *ngIf='!updating' optional>
    <ng-template matStepLabel>Termin</ng-template>

    <div class="new-patient-appointment-container">
      <app-form-new-appointment (afterClose)="handleNewAppointmentClose($event)" [datePickerAutoOpen]="false"
        [patientId]="patient.id" [patientName]="patient.lastName"></app-form-new-appointment>
    </div>

    <div class="stepper-button-container">
      <button *ngIf="!this.patient.id" class="stepper-button" mat-button matStepperPrevious>Zurück</button>
      <button class="stepper-button" mat-button matStepperNext>Weiter (Keinen Termin)</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Fertig</ng-template>
    <div class="new-patient-end-container">
      <mat-icon [inline]="true" style="font-size: 750%; color: #3f51b5;">done</mat-icon>
      <span style="font-weight: 500;">Daten gespeichert: {{this.patient.firstName}} {{this.patient.lastName}}</span>
      <br>
      <span>{{this.appointmentMade ? 'Termin vereinbart: ' + this.appointment.datetime.toString() : ''}}</span>
    </div>
    <div class="stepper-button-container">
      <button class="stepper-button" mat-button matStepperNext (click)="close()">OK</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>